.left {
    width: 40%;
    max-height: 500px;
}

.right{
    width: 60%;
    display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.divide{
    padding-top: 5rem;
    display: flex;
}
  #sizes-content{
	text-align:left;
	align-items:flex-start;
	padding:10px 40px;
  }

@media screen and (max-width: 800px) {
	.divide{
		flex-direction: column;
	}
	.left {
    width: 100%;
}
.right{
    width: 100%;
	padding-top: 30px;
  
}
  #sizes-content{
	padding:10px 0px;
	text-align:center;
  }
}

@media screen and (min-width: 801px) {
	.divide{
		flex-direction: row;
	}
}

.media-wrapper2 {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 100%;
  }

