@font-face {
    font-family: "akira";
    src: url("./assets/fonts/Akira-Expanded-Demo.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
  }

  @font-face {
    font-family: "lemonmilk";
    src: url("./assets/fonts/LEMONMILK-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "lemonmilkmed";
    src: url("./assets/fonts/LEMONMILK-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: "tbf";
    src: url("./assets/fonts/THEBOLDFONT-FREEVERSION.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "archivo";
    src: url("./assets/fonts/ArchivoBlack-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "bebas";
    src: url("./assets/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
  }

  @font-face {
    font-family: "desire";
    src: url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.eot");
    src: url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.svg#Desire-Pro")format("svg");
}

  p {
    font-family: "poppins", sans-serif;
  }

  h2{
    font-family: "akira", sans-serif;

  }

h5{
    font-family: "desire", sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }


  body{
    background: radial-gradient(circle, rgba(174,179,242,97) 0%, rgba(255,169,186,97) 100%);
  }

  .react-multi-carousel-list {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .react-multi-carousel-item {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
  }

  .btn-primary {
    --bs-btn-color: #fdf1f1;
    --bs-btn-bg: rgb(218, 41, 100);
    --bs-btn-border-color: #f1aece;
    --bs-btn-hover-color: #300b0b;
    --bs-btn-hover-bg: rgb(247, 240, 237);
    --bs-btn-hover-border-color: #060708;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
  }