@font-face {
    font-family: "prata";
    src: url("./assets/fonts/Prata-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
  }

  @font-face {
    font-family: "lemonmilk";
    src: url("./assets/fonts/LEMONMILK-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "lemonmilkmed";
    src: url("./assets/fonts/LEMONMILK-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: "tbf";
    src: url("./assets/fonts/THEBOLDFONT-FREEVERSION.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "archivo";
    src: url("./assets/fonts/ArchivoBlack-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "bebas";
    src: url("./assets/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
  }

  @font-face {
    font-family: "desire";
    src: url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.eot");
    src: url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c483d3c4a114b08331e8ce6f646166ed.svg#Desire-Pro")format("svg");
}

  p {
    font-family: "poppins", sans-serif;
  }

  h2{
    font-family: "archivo", sans-serif;
    transform: scaleX(1.3);
    display: inline-block;
    letter-spacing: -3px;
    text-transform: uppercase;
  }

  h3{
    font-family: "archivo", sans-serif;
    transform: scaleX(1.3);
    display: inline-block;
    letter-spacing: -2px;
    text-transform: uppercase;
  }

h5{
    font-family: "Prata", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    transform: scaleX(0.8);
    display: inline-block;
  }


  body{
    background: radial-gradient(circle, rgba(174,179,242,97) 0%, rgba(255,169,186,97) 100%);
  }

  .react-multi-carousel-list {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .react-multi-carousel-item {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
  }

  .btn-primary {
    --bs-btn-color: #fdf1f1;
    --bs-btn-bg: rgb(218, 41, 100);
    --bs-btn-border-color: #f1aece;
    --bs-btn-hover-color: #300b0b;
    --bs-btn-hover-bg: rgb(247, 240, 237);
    --bs-btn-hover-border-color: #060708;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #571e34;
    --bs-btn-active-border-color: #453492;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
  }

  .pill-link-button {
    cursor: pointer;
    min-width: 182px;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px; /* Creates pill shape */
    color: rgb(105, 94, 96);
    font-family: "poppins";
    font-size: 1.3rem;
    text-decoration: none;
    border: 1px solid transparent;
    background-image: radial-gradient(circle, rgba(174,179,242,0) 0%, rgba(255,169,186,0) 100%);
    background-clip: padding-box;
    position: relative;
    transition: all 0.4s ease-out;
    /* Gradient border using pseudo-element */
    position: relative;
  }
  
  .pill-link-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999px;
    padding: 3px; /* This creates the border */
    background: radial-gradient(circle, rgba(174,179,242,97) 0%, rgba(255,169,186,97) 100%);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  
  .pill-link-button:hover {
    background-image: radial-gradient(circle, rgba(174,179,242,97) 0%, rgba(255,169,186,97) 100%);
    color: white;
  }
  
  .pill-link-button:hover::before {
    opacity: 0;
  }

  .contain{
    display: flex;
    justify-content: space-between; /* Evenly spaces the buttons */
    align-items: center; /* Vertically centers the buttons */
    gap: 1rem; /* Minimum space between buttons */
    max-width: 85%; /* Adjust based on your layout */
    margin: 0 auto; /* Centers the container */
    padding: 1rem;
    margin-top: 1rem;
  }

  .contain2{
    display: flex;
    justify-content: center; /* Evenly spaces the buttons */
    align-items: center; /* Vertically centers the buttons */
    gap: 1rem; /* Minimum space between buttons */
    max-width: 70%; /* Adjust based on your layout */
    margin: 0 auto; /* Centers the container */
    padding: 1rem;
    margin-top: 1rem;
  }